/**************
*@1、整体通用布局
*@2、通用组件
*@3、头部
*@4、banner
*@5、主体
*@6、页脚
*@7、公司介绍
*@8、工厂实景
*@9、oem加工
*@10、研究与开发
*@11、合作商家
*@12、产品备案
*@13、新闻资讯
*@14、联系我们
 ***************/


/*@1、整体通用组件*/

.g-doc {
    font-family: 'SimHei';
    font-size: 14px;
    width: 100%;
    min-width: 990px;
    background: #fff;
}

.g-hd,
.g-nav,
.g-bn,
.g-bd,
.g-ft {
    width: 100%;
}

.g-hd {
    height: 180px;
}

.g-nav {
    height: 50px;
    color: #fff;
    background: #e71e57;
}

.g-bn {
    position: relative;
    width: 100%;
    height: 402px;
}

.g-ft {
    height: 260px;
    background: #e71e57;
    width: 100%;
}

.g-in {
    position: relative;
    width: 990px;
    margin: 0 auto;
}

.g-in2 {
    position: relative;
    width: 558px;
    margin: 0 auto;
}


/*@2、通用组件*/

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

.f-cb {
    clear: both;
}

.f-mr0 {
    margin-right: 0!important;
}


/*字体皮肤格式*/

.s-ti {
    text-indent: 1.5em;
}


/*面包屑*/

.m-crumb {
    line-height: 1.5;
    overflow: hidden;
}

.m-crumb ul {
    margin-left: -20px;
}

.m-crumb li {
    float: left;
    white-space: nowrap;
    word-wrap: normal;
}

.m-crumb li:before {
    font-size: 14px;
    display: inline-block;
    width: 20px;
    content: '/';
    text-align: center;
    color: #000;
    /*font-family: \5b8b\4f53;*/
}


/*导航*/

.m-nav {
    font-size: 14px;
    line-height: 50px;
    width: 100%;
    height: 50px;
    color: #fff;
}

.m-nav li {
    float: left;
}

.m-nav li:last-child a {
    border: none;
}

.m-nav a {
    font-size: 15px;
    padding: 0 20px;
    color: #ffc6d4;
    border-right: 1px solid #b8a6a6;
}

.m-nav a:hover {
    color: #fff;
}

.m-nav .s-active {
    color: #fff;
}


/*箭头*/

.u-arr-l,
.u-arr-r {
    width: 48px;
}


/*在线咨询*/

.m-advisory {
    position: fixed;
    z-index: 100000;
    width: 168px;
    top: 200px;
    right: 4px;
    background:url('../img/adbg.jpg');
    background-size: 100%;
    background-repeat: round;
    border-radius: 8px;
}
.m-advisory dl{
    padding-left: 15px;
    font-family: "Times New Roman", Times, serif;
    margin: 10px 0;
}
.m-advisory dt {   
     height: 30px;
    margin-bottom: 12px;
}
.m-advisory dt span{
    font-weight: bold;
    font-family: 微软雅黑;
}
.m-advisory dt img{
    height: 100%;
    margin-left: 4px; 
   }
.m-advisory ul li{
    width: 120px;
    height: 26px;
    line-height: 26px;
    background: #fff;
    border-radius: 3px;
    margin: 8px auto 0;
}
.m-advisory ul li a{
    display: block;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 13px;
    padding-left: 13px;
    color: #000;
}
.m-advisory ul li .m-ad-qq{
    height: 20px;
    vertical-align: middle;
        margin-right: 4px;
}
.m-advisory p{
        padding: 3px 10px;
}
.m-advisory p.m-ad-call{
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    text-align: center;
    font-weight: 800;
}
.m-advisory .m-ad-dateBox{
    margin-top: 18px;
    margin-bottom: 18px;

}
.m-ad-qr{ 
    display: none;
    position: absolute;
    width: 150px;
    top: -20px;
    left: -158px;
    border: 2px solid #000;}
.m-ad-wx{
    position: relative;
}
.m-ad-wx:hover .m-ad-qr{
    display: block;
}
/*电话咨询*/
.m-call{
    background: #ffc800;
    position: fixed;
    z-index: 100000;
    width: 120px;
    top: 200px;
    left: 4px;
    border-radius: 8px;
}
.m-call dl{
       width: 100%;
    margin: 12px 0px;
}
.m-call dl dd{
    margin-bottom: 10px;
    text-align: center;
}
.m-call dl dd span{
    color: #fff;
    font-size: 18px;
}
.m-call dl input{
    width: 82%;
    display: block;
    margin: 0 auto;
    height: 25px;
}
.m-call dl a{
    width: 80%;
    background: #000;
    color: #fff;
    display: block;
    margin: 0 auto;
    line-height: 20px;
}
/*@3、头部*/

.g-hd-ln1 {
    padding: 10px;
}

.g-hd-ln1 .m-crumb a {
    color: #000;
}

.g-hd-ln1 .m-crumb a:hover {
    color: #b6b6b6;
}

.g-hd-ln2-r {
    margin-top: 30px;
    margin-right: 14px;
}

.g-hd-ln2-r img {
    width: 52px;
    height: 52px;
    margin: 16px;
}

.g-hd-ln2-r dl {
    line-height: 28px;
}

.g-hd-ln2-r dt {
    font-size: 20px;
}

.g-hd-ln2-r dd {
    font-size: 30px;
    font-weight: 600;
}

.g-hd-ln2-l {
    margin-top: 10px;
}

.g-hd-ln2-l a {
    margin: 0 6px;
}

.g-hd-ln2-l dl {
    line-height: 26px;
    margin-top: 36px;
}

.g-hd-ln2-l dt {
    font-size: 24px;
}

.g-hd-ln2-l dd {
    font-size: 12px;
}


/*@4、banner图*/

.g-bn .swiper-container-1,
.g-bn .swiper-container-1 .swiper-slide {
    width: 100%;
    height: 100%;
}

.s-bn-1-1 {
    background: url(../img/banner1.jpg) center;
}

.s-bn-1-2 {
    background: url(../img/banner2.jpg) center;
}

.s-bn-1-3 {
    background: url(../img/banner3.jpg) center;
}

.s-bn-1-4 {
    background: url(../img/banner4.jpg) center;
}

.s-bn-1-5 {
    background: url(../img/banner5.jpg) center;
}

.s-bn-1-6 {
    background: url(../img/banner6.jpg) center;
}


/*@5、主体*/


/*g-bd-ln1*/

.g-bd-ln1 {
    height: 140px;
    /*background: yellow;*/
}

.g-bd-ln1 img.f-fl {
    position: relative;
    top: 30px;
}

.g-bd-ln1 dl {
    margin: 45px 9px;
}

.g-bd-ln1 dt {
    font-size: 24px;
    color: #595757;
}

.g-bd-ln1 dd {
    font-size: 11px;
    color: #595757;
}

.g-bd-ln1 .u-arr-l,
.g-bd-ln1 .u-arr-r {
    margin-top: 50px;
}

.swiper-container-2 {
    width: 702px;
    height: 140px;
    padding: 20px 0;
}

.swiper-container-2 .swiper-slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 2px 0 1px #b7b7b7;
}


/*g-bd-ln2*/

.g-bd-ln2 {
    height: 420px;
    background: #efeff0;
}

.g-bd-ln2 .g-in {
    height: 100%;
    background: url(../img/bg1.jpg) center;
}

.g-bd-ln2 img {
    margin-left: 120px;
}

.g-bd-ln2 dl {
    line-height: 53px;
    margin-top: 31px;
    margin-left: 140px;
}

.g-bd-ln2 dl dt {
    font-size: 34px;
    margin-bottom: 20px;
    margin-left: -70px;
    color: #ff005a;
}

.g-bd-ln2 dd {
    font-size: 17px;
    color: #fff;
}


/*g-bd-ln3*/

.g-bd-ln3 {
    height: 690px;
}

.g-bd-ln3-1 {
    padding-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: 110px;
    position: relative;
    text-align: center;
}

.g-bd-ln3-1 img {
    position: absolute;
    top: 18px;
    left: 225px;
}

.g-bd-ln3-1 dt {
    font-size: 48px;
    color: #ff005a;
}

.g-bd-ln3-1 dd {
    font-size: 24px;
    color: #595757;
}

.g-bd-ln3-2 ul {
    width: 204px;
}

.g-bd-ln3-2 ul li {
    margin-bottom: 35px;
}

.g-bd-ln3-2 ul .u-arr-l {
    width: 26px;
    position: relative;
    top: -48px;
}

.g-bd-ln3-2 ul dl {
    width: 170px;
    display: inline-block;
    line-height: 24px;
}

.g-bd-ln3-2 ul dt {
    margin-bottom: 10px;
    font-size: 24px;
    color: #ff005a;
    margin-bottom: 13px;
    text-align: center;
}

.g-bd-ln3-2 ul dd {
    font-size: 14px;
    text-indent: 1.5em;
    color: #595757;
}


/*g-bd-ln4*/

.g-bd-ln4 {
    height: 486px;
    background: #efeff0;
}

.g-bd-ln4-1 {
    padding-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: 110px;
    position: relative;
    text-align: center;
}

.g-bd-ln4-1 img {
    position: absolute;
    right: 264px;
    top: 30px;
}

.g-bd-ln4-1 dt {
    font-size: 48px;
    color: #ff005a;
}

.g-bd-ln4-1 dd {
    font-size: 24px;
    color: #595757;
}

.g-bd-ln4-2 {
    text-align: center;
}

.g-bd-ln4-3 ul li {
    float: left;
    width: 150px;
    font-size: 14px;
    color: #595757;
    margin: 10px 0 0 146px;
    line-height: 20px;
    text-indent: 1.5em;
}

.g-bd-ln4-3 ul li:first-child {
    margin-left: 136px;
}


/*g-bd-ln5*/

.g-bd-ln5-1 {
    padding-top: 24px;
    margin-bottom: 34px;
    width: 100%;
    text-align: center;
    height: 110px;
    position: relative;
}

.g-bd-ln5-1 img {
    position: absolute;
    left: 66px;
    top: 42px;
}

.g-bd-ln5-1 dl {
    margin-left: 6px;
    margin-top: 12px;
    text-align: center;
}

.g-bd-ln5-1 dt {
    font-size: 48px;
    color: #595757;
}

.g-bd-ln5-1 dd {
    font-size: 24px;
    color: #595757;
}

.g-bd-ln5-1 dl span {
    color: #ff005a;
}

.g-bd-ln5-2 {
    margin-top: 20px;
    margin-bottom: 36px;
    position: relative;
}

.g-bd-ln5-2 dl {
    position: absolute;
    color: #fff;
}

.g-bd-ln5-2 dt {
    font-size: 28px;
}

.g-bd-ln5-2 dd {
    font-size: 18px;
    line-height: 24px;
    margin-top: 23px;
    margin-left: 26px;
}

.g-bd-ln5-2 dd a {
    margin-top: 20px;
    display: inline-block;
    margin-left: 84px;
    color: #fff;
}

.g-bd-ln5-2 dd a:hover {
    color: #b6b6b6;
}

.g-bd-ln5-dl1 {
    top: 24px;
    left: 134px;
}

.g-bd-ln5-dl2 {
    top: 24px;
    right: 60px;
}


/*g-bd-ln6*/

.g-bd-ln6 {
    background: #efeff0;
    height: 246px;
}

.g-bd-ln6-1 {
    line-height: 126px;
    font-size: 48px;
    position: relative;
    text-align: center;
}

.g-bd-ln6-1 img {
    position: absolute;
    right: 100px;
    top: 24px;
}


/*g-bd-ln7*/

.g-bd-ln7 {
    padding-top: 44px;
    height: 398px;
}

.g-bd-ln7 .f-fr {
    width: 680px;
}

.g-bd-ln7 .f-fr dt {
    font-size: 48px;
    color: #ff005a;
    text-align: right;
}

.g-bd-ln7 .f-fr dd {
    font-size: 14px;
    line-height: 24px;
    text-indent: 1.5em;
    margin: 14px 0px;
}


/*g-bd-ln8*/

.g-bd-ln8 {
    height: 350px;
    padding-top: 34px;
    background: #efeff0;
}

.g-bd-ln8 .f-fl {
    width: 838px;
}

.g-bd-ln8 dl {
    width: 100%;
}

.g-bd-ln8 dt {
    font-size: 48px;
    color: #ff005a;
    text-align: left;
    margin-bottom: 34px;
}

.g-bd-ln8 ul li {
    float: left;
    margin-right: 15px;
}


/*@6页脚*/

.g-ft .g-in {
    padding-top: 44px;
}

.g-ft-1 {
    width: 218px;
    text-align: center;
    border-right: 1px solid #d05a7c;
}

.g-ft-2 {
    width: 768px;
}

.g-ft-2 dl {
    width: 33%;
    text-align: center;
    font-weight: bold;
}

.g-ft-2 dt {
    font-size: 18px;
    line-height: 24px;
    color: #d72853;
    margin-bottom: 10px;
}

.g-ft-2 dt span {
    background: #fff;
    padding: 5px;
}

.g-ft-2 dd {
    font-size: 24px;
    color: #fff;
    line-height: 24px;
}

.g-ft-2-2 p {
    width: 48%;
    margin-top: 22px;
    display: inline-block;
    font-size: 22px;
    color: #fff;
    box-sizing: border-box;
    text-align: right;
}

.g-ft-2-2 p img {
    margin-right: 10px;
}

.g-ft-2-3 {
    margin-top: 30px;
}

.g-ft-2-3 p {
       font-size: 13px;
    color: #ccc;
    text-align: center;
}

.g-ft-2-3 p i{
    color: #fff;
}
/*@7、公司介绍*/

.g-intro-1 {
    height: 550px;
    padding-top: 10px;
}

.g-intro-1 dl {
    box-sizing: border-box;
    width: 364px;
    padding: 0 14px;
}

.g-intro-1 dt {
    font-size: 36px;
    color: #e51e56;
    text-align: center;
    margin: 30px 0;
}

.g-intro-1 dd {
    text-indent: 1.5em;
    font-size: 20px;
    line-height: 36px;
    color: #595959;
}

.g-intro-2 img {
    margin-right: 16px;
    margin-bottom: 16px;
}


/*@8、工厂实景*/

.g-factory-1 {
    background: #efeff0;
}

.g-factory-2 {
    padding-top: 10px;
}

.g-factory-2 dl {
    width: 606px;
    box-sizing: border-box;
}

.g-factory-2 dt {
    font-size: 36px;
    color: #e51e56;
    text-align: center;
    margin: 30px 0;
}

.g-factory-2 dd {
    text-indent: 1.5em;
    font-size: 20px;
    line-height: 36px;
    color: #595959;
}

.g-factory-3 img {
    margin-right: 14px;
    margin-bottom: 16px;
    margin-top: 16px;
}


/*@9、oem加工*/

.g-oem-1 {
    background: #c6d3d8;
    margin-bottom: 20px;
}

.g-oem-1 .g-in {
    width: 1200px;
    height: 276px;
    background: url(../img/oembanner.jpg) center;
}

.g-oem-2 {
    line-height: 36px;
    color: #727171;
}

.g-oem-2 h3 {
    font-size: 24px;
    padding: 30px 0;
}

.g-oem-2 p {
    font-size: 20px;
}

.g-oem-3 {
    text-align: center;
}


/*@10、研究与开发*/

.g-research-2 img {
    width: 320px;
    height: 270px;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}

.g-research-2 p {
    margin: 20px 0;
    padding: 0 80px;
    line-height: 36px;
    color: #727171;
    font-size: 20px;
}


/*@11、合作商家*/

.g-cooper-2 {}

.g-cooper-2 h2 {
    color: #464646;
    font-size: 36px;
    text-align: center;
}

.g-cooper-tt {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.g-cooper-tt-line {
    height: 2px;
    width: 100%;
    background: #dc3a5c;
    position: relative;
    top: 25px;
}

.g-cooper-tt span {
    background: #fff;
    color: #dc3a5c;
    font-size: 36px;
    position: relative;
    padding: 0 10px;
}
.g-cooper-2-1{
    margin-bottom: 50px;
}
.g-cooper-2-1 div{
    width: 230px;
    height: 320px;
    float: left;
    position: relative;
    display: inline-block;
    margin-right: 16px;
}
.g-cooper-2-1 img{
    width: 220px;
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    margin: auto;
}
.g-cooper-2-1 img:hover{
    box-shadow: 2px 2px 4px 0px #ccc;
}
.g-cooper-2-2{
     padding-top: 30px;

    margin-bottom: 30px;
}
/*@12、产品备案*/

.g-filing h2{
    font-size: 35px;
    color: #727171;
    text-align: center;
    padding: 50px 0;
}
.g-filing p{
    font-size: 24px;
     color: #727171;
     line-height: 36px;
     height: 500px;

}
/*@13、新闻资讯*/
.g-news h2{
   font-size: 35px;
    color: #727171;
    padding: 50px 0;
}
.g-news p{
        font-size: 24px;
     color: #727171;
     line-height: 66px;
     height: 500px;
}

/*@14、联系我们*/
.g-cont-1 .g-in {
    width: 1200px;
    height: 276px;
    background: url(../img/contbanner.jpg) center;
}
.g-cont-2 {
    padding: 50px 0;
}
.g-cont-2 h2 {
    color: #464646;
    font-size: 36px;
    text-align: center;
}
.g-cont-2 dl{
    text-align: center;padding: 60px 0;
}
.g-cont-2 dt{
      color: #595757;
    font-size: 36px;
    margin-bottom: 30px;
}
.g-cont-2 dd{
    color:#595757;
    font-size: 30px;
    line-height: 48px;

}