<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>罗斯麦瑞-厂部实景</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="../img/logo3.png">
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- <link rel="stylesheet" href="lib/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../lib/idangerous.swiper.css">
    <!-- <link rel="stylesheet" href="lib/animation.css"> -->
    <script src="../lib/jquery.min.js"></script>
</head>

<body>
    <div class="g-doc">
        <!-- 头部 -->
        <div class="g-hd">
            <div class="g-in">
                <div class="g-hd-ln1">
                    <div class="f-fl">
                        欢迎来到四川罗斯麦瑞生物科技有限公司官方网站！
                    </div>
                    <div class="f-fr">
                        <nav class="m-crumb">
                            <ul>
                                <li><a href="javascript:void(0);" onclick="SetHome(this,'http://www.xyz.com');">设为首页</a></li>
                                <li><a href="javascript:void(0);" onclick="AddFavorite('罗斯麦瑞',location.href)">加入收藏</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="f-cb"></div>
                </div>
                <div class="g-hd-ln2">
                    <div class=" g-hd-ln2-l f-fl">
                        <a href="#" class='f-fl'><img src="../img/logo.png"></a>
                        <dl class="f-fl">
                            <dt>四川罗斯麦瑞生物科技有限公司</dt>
                            <dd>Sichuan Ross biological science and Technology Co., Ltd.</dd>
                        </dl>
                    </div>
                    <div class="g-hd-ln2-r f-fr">
                        <img class="f-fl" src="../img/phone.png">
                        <dl class="f-fl">
                            <dt>化妆品OEM行业领导者</dt>
                            <dt>全国咨询电话：</dt>
                            <dd>400-6767-968 </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- 头部/ -->
        <!-- 导航 -->
        <div class="g-nav">
            <div class="g-in">
                <div class="m-nav">
                    <ul>
                        <li><a href="../index.html">首页</a></li>
                        <li><a href="./intro.html">公司介绍</a></li>
                        <li><a href="../index.html#OEM">OEM加工</a></li>
                        <li><a href="#">研究与开发</a></li>
                        <li><a href="#">企业视频</a></li>
                        <li><a href="#">产品备案</a></li>
                        <li><a href="./factory.html" class="s-active">厂部实景</a></li>
                        <li><a href="#">新闻资讯</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 导航/ -->
        <!-- 主体 -->
        <div class="g-bd">
            <div class="g-factory-1">
                <div class="g-in">
                    <img src="../img/factory.jpg" alt="">
                </div>
            </div>
            <div class="g-in">
                <div class="g-factory-2">
                    <img class="f-fr" src="../img/factory2.jpg" alt="">
                    <dl class="f-fl">
                        <dt>独树一帜
                            <br>开拓化妆品OEM行业新格局</dt>
                        <dd>斯麦瑞位于四川天府新区视高工业园内，拥有近万平方米的现代化 标准的化妆品科研、中试、生产基地，专业从事高端护肤品、养生产品的研制及生产。充分利用中国科学院相关生命科学研究单位的设备、技术及人才优势不断开发新的化妆品原料。依托中国科学院多个研究所的科技开发能力，以湖州应用技术研究与产业化 中心为研发基地。
                        </dd>
                    </dl>
                    <div class="f-cb"></div>
                </div>
                <div class="g-factory-3">
                    <img class="f-fl" src="../img/factory3.jpg" alt="">
                    <img class="f-fl" src="../img/factory4.jpg" alt="">
                    <img class="f-fl f-mr0" src="../img/factory5.jpg" alt="">
                    <div class="f-cb"></div>
                </div>
            </div>
        </div>
        <!-- 主体/ -->
        <!-- 底部 -->
        <div class="g-ft">
            <div class="g-in2">
                <div class="f-fl">
                    <img src="../img/logo2.png" alt="">
                </div>
                <div class="f-fr">
                    <dl>
                        <dt>四川罗斯麦瑞生物科技有限公司 版权所有</dt>
                        <dd><img src="../img/tool1.png" alt="" class="f-fl">咨询电话：400-6767-968</dd>
                        <dd><img src="../img/tool2.png" alt="" class="f-fl">地&nbsp;&nbsp;&nbsp;&nbsp;址：四川省仁寿视高工业园</dd>
                        <dd><img src="../img/tool3.png" alt="" class="f-fl">传&nbsp;&nbsp;&nbsp;&nbsp;真：85356028</dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- 底部/ -->
        <!-- 在线咨询 -->
        <div class="m-advisory">
            <ul>
                <li>
                    <a href="tencent://message/?uin=545146329&Site=www.luoxiao123.cn&Menu=yes"><img src="../img/advisory2.png" alt=""><span>QQ咨询1</span></a>
                </li>
                <li>
                    <a href="tencent://message/?uin=545146329&Site=www.luoxiao123.cn&Menu=yes"><img src="../img/advisory2.png" alt=""><span>QQ咨询2</span></a>
                </li>
                <li>
                    <div class="m-advisory-hidden">
                        <p>400-6767-968</p>
                        <div class="m-arrR"></div>
                    </div>
                    <img src="../img/advisory1.png" alt=""><span>电话咨询</span>
                </li>
                <li>
                    <div class="m-advisory-hidden f-p10">
                        <dl>
                            <dt><img src="../img/qr.png" alt=""></dt>
                            <dd><i>扫一扫，关注我们</i></dd>
                        </dl>
                        <div class="m-arrR"></div>
                    </div>
                    <img src="../img/advisory3.png" alt=""><span>微信咨询</span></li>
                <li><img src="../img/advisory4.png" alt=""><a href="#">返回<br>顶部</a></li>
            </ul>
        </div>
        <!-- 在线咨询/ -->
    </div>
    <script src="../js/main.js"></script>
</body>

</html>
